.lein*
pom.xml
lib
classes/
lein-cljsbuild-*.*.*
cljsbuild-*.*.*
example-projects/*/*.jar
example-projects/simple/resources
example-projects/advanced/resources/public/js
example-projects/advanced/resources/private/js
example-projects/advanced/.crossover-cljs
example-projects/advanced/.repl*
example-projects/*/classes
example-projects/*/lib
example-projects/*/target
